:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html, body {
    background-color: #ccc;
    height: 100%;
    color: black;
    font-weight: 700;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
form{
    width:50%;
    margin:30px auto;
}

.form-login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    /* center the form */
    margin: auto; 
}

.form-label-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-label-group > input, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-bottom: 0;
    line-height: 1.5;
    cursor: text;
    border-radius: .25rem;
    height: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}


.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    /*padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);    */padding-top: 2.25rem;
    top: -10px;
    margin-bottom: 0.25rem;
}

.form-label-group input:placeholder-shown {
    margin-top: 2rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #f00;
    top: -30%;
    left: -10px;
    border-right: 2px solid transparent;
    height: 50%;
    background-color: #ff0979;
    color: white;
    font-weight: bold;
    z-index: 99;
}

.form-label-group input:not(:placeholder-shown) input {
    background: #239902;
}

#loginButton {
    background-color: #ff0979;
    border-color: #ff0979;

}

#loginButton:hover {
    background-color: #ff0959;
    border-color: #ff0999;
}